/* SearchBox.css */
.search-box-container {
  position: relative;
}

.search-input {
  padding-right: 3rem; /* Adjust padding to make room for the icon */
}

.search-icon {
  position: absolute;
  right: 1rem; /* Adjust the right padding to position the icon */
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d; /* Adjust color as needed */
  pointer-events: none; /* Prevent the icon from interfering with input clicks */
}