.form-control {
  color: #888;
  background: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  height: 40px;
  padding: 6px 12px;
  border-radius: 10px;
  border: 2.5px solid #e7e7e7;
  box-shadow: none;
}

.input-group .input-group-text {
  border-color: #e7e7e7;
  border-radius: 5px;
}

.navi-button {
  margin-right: 10px;
}

.custom-form {
  width: 70%;
  margin: 3rem auto;
}

.active-link {
  border-right: 3px solid #58AD46;
  background-color: #fff;
}

.sidebar-menu > li > a {
  padding: 10px 15px;
  display: block;
  border-radius: 0px !important;
}

